
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/bd/Pierre_ciseaux_feuille_l%C3%A9zard_spock.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
  }

  
  /* Add styles for the h1 element */
  h1 {
    background-color: #0095dd;
    color: white;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  /* Add styles for the form element */
  form {
    background-color: #9f4274;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Add styles for the label and input elements */
  label, input[type="radio"] {
    display: block;
    margin: 10px 0;
  }
  
  /* Add styles for the submit button */
  input[type="submit"] {
    background-color: #0095dd;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #c60000;
  }
  
  /* Add styles for the result message */
  p {
    background-color: #9f4274;
    font-size: 24px;
    margin: 30px;
    text-align: center;
  }
  
  .reset-button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .reset-button:hover {
    background-color: #3e8e41;
  }
  